.row.top_row
  .col-sm-6.user_att
    %h2= @user.email
    - if @user.avatar_file_name
      = image_tag @user.avatar.url(:thumb)
  .col-sm-6
    = link_to 'Logout', log_out_path, class: ['btn', 'btn-danger', 'logout_btn']
  .row
    = link_to 'Add Photo', new_user_photo_path(@user), class: ['btn', 'btn-success', 'add_photo_btn']
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
.row
  - @users.each  do |user|
    .well.col-sm-4
      %p 
        = user.email
      %p
        - if @user.id != user.id
          - if @user.following?(user)
            = button_to "Unfollow", follow_path(current_user: @user, user_id: user.id), method: :delete, :class => "btn btn-primary"
          - else
            = button_to "Follow", follows_path(current_user: @user, user_id: user.id), :class => "btn btn-primary"
.row
  -@my_users.each_with_index do |u, index|
    .well.row
      %h1
        = u.email
      .row
        .well.col-sm-11
          %h3.caption
            = @my_photos[index][0].title
          / = image_tag @my_photos[index][0].image.url(:medium), :class => "slide"
          = link_to image_tag(@my_photos[index][0].image.url(:medium)), new_user_photo_comment_path(photo_id: @my_photos[index][0].id, user_id: @my_photos[index][0].user_id), :class => "slide", :data => {:photoId => @my_photos[index][0].id, :userId => @my_photos[index][0].user_id}
          %br/
          %br/
          %br/
          %hr/
          %br/
          .row.slides
            - @my_photos[index].each do |i|
              .well.col-sm-4
                %h3
                  = i.title
                = image_tag i.image.url(:medium), :data => {:photoId => i.id, :userId => i.user_id}


          
